MAILEROO_BASE_URL=https://smtp.maileroo.com/v1/email/send
MAILEROO_API_KEY=your_maileroo_api_key
MAILEROO_SENDER_EMAIL=
MAILEROO_SENDER_NAME=True East Energy Corp.
CONTACT_RECIPIENT_EMAIL=trueeastenergy@gmail.com
